.blog {
  &__banner {
    &--absolute-el {
      left: 50%;
      transform: translate(-50%, 0);
    }

    &--cat {
      top: 10%;

      &-el  {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 300;
        margin: 1rem;
        @include media-breakpoint-down(lg) {
          font-size: 1.2rem;
        }
        @include media-breakpoint-down(md) {
          font-size: 1rem;
        }
      }
    }

    &--title {
      width: 50%;
      top: 50%;
      font-size: 3rem;
      color: #fff;
      text-align: center;
      font-weight: 700;
      transform: translate(-50%, -50%);
      text-shadow: 4px 8px 12px rgba($color: #000000, $alpha: 0.15);
      @include media-breakpoint-down(lg) {
      font-size: 2.2rem;
      width: 75%;
      }
      @include media-breakpoint-down(md) {
        font-size: 1.8rem;
        width: 90%;
      }
      @media (max-width: 340px) {
        font-size: 1.4rem;
      }
    }

    &--date {
      top: 85%;
      font-size: 1.6rem;
      color: #fff;
      font-weight: 200;
      @include media-breakpoint-down(md) {
        font-size: 1.3rem;
        top: auto;
        bottom: 15%;
      }
    }
  }

  &__shortcut {
    &--element {
      padding-bottom: 1.5rem;
      margin: 1.5rem 0;
      border-bottom: 2px #eee solid;
    }
    &--buttons {
      width: calc(100% - 1.5rem);
      text-align: right;
    }
  }

  &__teaser {
    &--cat {
      font-size: 1rem;
      margin-right: 1rem;
    }

    &--title {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 1.2rem;
    }

    &--body {
      font-weight: 300;
      font-size: 1rem;
    }
  }

  &__item {
    &--text {
      margin-top: 10px;
      color: #555;
      // text, paragraf in shortcut
      & p  big {
        font-size: 1.1rem;
        font-weight: 400;
      }

      & time {
        color: #222;
      }
    }
  }
}
