html {
    @include media-breakpoint-down(lg) {
        font-size: 95%;
    }
    @include media-breakpoint-down(md) {
        font-size: 90%;
    }
    @include media-breakpoint-down(sm) {
        font-size: 85%;
    }
    background-color: #222;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
.col {
    padding-left: 0;
    padding-right: 0;
}
.node__content {
    margin: 0;
}
