.landing-page {
  position: relative;
  &__banner {
    &--title {
      color: rgb(255, 200, 21);
      font-weight: 600;
    }

    &--subtitle {
      color: #fff;
      font-family: "Pacifico" !important;
    }

    &--text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--img {
      background-image: url("../img/coffeecity-bg.jpg");
      height: 80vh;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: brightness(0.6);
    }
  }
  &__row {
    padding: 5rem 10rem;
    max-width: 2560px;
    margin: 0 auto;

    @include media-breakpoint-down(xxl) {
      padding: 5rem;
    }
    @include media-breakpoint-down(xl) {
      padding: 5rem 2.5rem;
    }
    @include media-breakpoint-down(md) {
      padding: 3rem 0.5rem;
    }
    &--reverse {
      @include media-breakpoint-down(md) {
        flex-direction: column-reverse;
      }
    }

    &--single {
      padding: 8rem 2rem;
      max-width: 900px;
    }
  }

  &__col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    font-size: 1rem;

    @include media-breakpoint-down(xl) {
      padding: 0rem 2rem;
    }
    @include media-breakpoint-down(md) {
      text-align: center;
      padding: 2rem;
    }
  }

  &__contact {
    padding: 2rem;
    background-color: #222;

    &--header {
      font-size: 2rem;
      text-align: center;
      color: #fff;
      margin: 1.5rem 0;
      font-weight: 500;
    }

    &--col {
      margin: 0 auto;
      max-width: 800px;
    }

    // modify webform inside landing-page__contact
    .form-control,
    .form-select {
      background-color: lighten($color:#261d18, $amount: 2.5);
      color: #fff;
      box-shadow: none;
      transition: ease 0.3s all;

      &:focus {
        box-shadow: 0 0 1px 1px white;
        border-color: white;
      }
    }

    .webform-element-description {
      color: #bbb;
    }
    label {
      color: #ddd;
    }
    button.btn.btn-primary {
      background-color: transparent;
      border: none;
      box-shadow: none;
      font-size: 1rem;
      padding: 0.5rem;
      border-bottom: 2px solid white;

      &:focus,
      &:active,
      &:not(:disabled):not(.disabled):active:focus {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid white;
        box-shadow: none;
        outline: none;
      }
    }

    /*Change text in autofill textbox*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      transition: background-color 9999s ease-in-out;
      -webkit-text-fill-color: white;
    }
  }

  //button
  &__cta {
    font-weight: 700;
    font-size: 1.2rem;
    padding: 4px;
    border-bottom: 2px solid;
  }
}

.landing-page__webform {
  background-color: firebrick;
}
