/* NAVBAR TOP */
.navbar {

}
//navbar
.region-primary-menu {
  margin: 0 auto;
}

.navbar-brand img {
  height: 50px;
  width: 200px;
}

.navbar__bottom li.nav-item {
  margin: 0 30px;
}

.nav-item {
  &.active a,
  & .is-active {
    font-weight: 600;
    border-bottom: solid 1px;
  }
}

.navbar {
  margin: 0;
  &__main {
    background-color: inherit;

    ul.we-mega-menu-ul &--el {
      background-color: #000;
      color: #fff;

      // select all of menu links
      &.active > a,
      & > a  {
        font-size: 1rem;
        text-transform: none;
        font-weight: 400;
        font-family: Barlow;
        text-decoration: none;
        background-color: inherit;
        color: inherit;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        &:hover {
          color: inherit;
        }
      }
    }

  }
}
