body {
  font-family: Barlow;
}

h2 {
  letter-spacing: -0.8px;
  //all h2 on landing page
  .landing-page & {
    @include media-breakpoint-down(lg) {
      font-size: 2.4rem;
    }
  }
}

span,
h1 {
  &.landing-page__banner--title,
  &.landing-page__banner--subtitle {
    font-size: 4rem;
    @include media-breakpoint-down(lg) {
      font-size: 3.4rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 3rem;
    }
    @media (max-width: 400px)  {
      font-size: 2.5rem;
      min-width: 160px;
    }
  }
}

